__pycache__/
*.pyc
.venv/
venv/


# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env
*.log

# Ignore IDE settings
.vscode/
.idea/

rat_inspection/data/
restaurant_inspection/data/